<nz-breadcrumb>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container">
    <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
        <nz-card-meta nzTitle="Clases de Matematicas" nzDescription="Curso 11-06"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
        <img alt="example" src="https://imgs.search.brave.com/JDgYloGEzFvrDxctlMl1s9IQpjZXybiy1i9rfKU_A4k/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pd29y/a3NoZWV0cy5tamxl/YXJuaW5nLnNwYWNl/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIw/LzA4L2l3c19tYXRo/X2FkdmFuY2VkX2xp/bmVhcl9lcXVhdGlv/bnMuanBn" />
    </ng-template>
</div>